@using DataGrid.Contracts.Models;
@model Tour

@{
    ViewData["Title"] = "Изменить товар";
}

<h2>Изменить существующий товар</h2>

<form asp-action="Edit" method="post">
    <div class="form-group">
        <label asp-for="Direction"></label>
        <input asp-for="Direction" class="form-control" />
        <span asp-validation-for="Direction" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DeparturDate"></label>
        <input asp-for="DeparturDate" class="form-control" type="number" step="any" />
        <span asp-validation-for="DeparturDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="NumberNights"></label>
        <input asp-for="NumberNights" class="form-control" />
        <span asp-validation-for="NumberNights" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CostVacationers"></label>
        <input asp-for="CostVacationers" class="form-control" />
        <span asp-validation-for="CostVacationers" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="NumberVacationers"></label>
        <input asp-for="NumberVacationers" class="form-control" />
        <span asp-validation-for="NumberVacationers" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Surcharges"></label>
        <input asp-for="Surcharges" class="form-control" type="number" step="any" />
        <span asp-validation-for="Surcharges" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="WIFI"></label>
        <input asp-for="WIFI" class="form-control" type="number" step="any" />
        <span asp-validation-for="WIFI" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="TotalCost"></label>
        <input asp-for="TotalCost" class="form-control" type="number" step="any" />
        <span asp-validation-for="TotalCost" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary"
            style="margin-top: 15px">
        Сохранить тур
    </button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
